@import "../../sass/_global.scss";

#headerContent{
        position: fixed;
    top:0;
    z-index: 9999;
    background-color: #f00;
        height: map-get($height, height-header);
         width: 100%;
    border: 1px solid black;

    #header-logo{
            position: absolute;
    top: 10%;
    left: 5%;
    color: orange;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    }
}