#headerContent{
    z-index: 9999;
    background-color: olivedrab;;
    border: 1px solid black;
    height: 150px;
    width: 100%;
    position: fixed;
    margin-bottom: 150px;
    #header-logo{
            position: absolute;
            top: 10%;
            left: 30%;
            color: orange;
            font-size: 42px;
            font-weight: bold;
            letter-spacing: 2px; 
    }
}