@import "../assets/MoonTypeface FREE FONT/Moon Bold.otf";
@import "../assets/MoonTypeface FREE FONT/Moon Light.otf";

$font-family : 'moon';



@font-face {
font-family: $font-family;
src: 
url("../../assets/fonts/moon_bold-webfont.woff") format("woff")
}

