$font-family : 'moon';

@font-face {
font-family: $font-family;
src: 
url("../../assets/fonts/moon_bold-webfont.woff") format("woff")
}

$font-size-logo : 50px;



$letter-spacing-logo : 2px;



$color-logo : orange;

$font-weight-logo : bold;