<div id="userAccountContent">
  <div class="container-fluid">
    <div class="row">
      <div id="userAccount-profile-wrapper" class="col-md-3">
        <div id="userAccount-user-profile">
          <img id="userAccount-user-image" src="../../assets/images/elon.jpg" width="100px" height="100px;" />
          <p id="userAccount-user-name">Elon Musk</p>
          <p id="userAccount-user-name">@IAmElon</p>
        </div>
        <!--Start Share -->
                  SHARE SOMETHING
        <div id="userAccount-share" class="row">
          <div class="col-xs-4">
            <button class="btn btn-info">Images</button>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-info">Videos</button>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-info">Tweets</button>
          </div>
        </div>
        <!--End Share -->
        <!--Start View -->
        <div class="row">
          <div class="col-xs-3">
            <button class="btn btn-alert">All</button>
          </div>
           <div class="col-xs-3">
            <button class="btn btn-info">Images</button>
          </div>
          <div class="col-xs-3">
            <button class="btn btn-info">Videos</button>
          </div>
          <div class="col-xs-3">
            <button class="btn btn-info">Tweets</button>
          </div>
          
        </div>
        <!--End View -->
      </div>
      <div id="user-content-wrapper" class="col-md-6">
        Images/videos/tweets
      </div>
      <div id="user-feed-wrapper" class="col-md-3">
        adds
      </div>
    </div>
  </div>