<div id="userAccountContent">
  <div class="container-fluid">
    <div class="row">
      <div id="userAccount-profile-wrapper" class="col-md-3">
        <div id="userAccount-profile-box">
        <div id="userAccount-user-profile">
          <img id="userAccount-user-image" src="../../assets/images/elon.jpg" width="100px" height="100px;" />
        </div>
        <div id="userAccount-user-info">
            <p id="userAccount-user-name">Elon Musk</p>
            <p id="userAccount-user-name">@IAmElon</p>
          </div>
      </div>
        <!--Start Share -->
        <div id="userAccount-share">
        SHARE SOMETHING
        <div class="row">
          <div class="col-xs-4">
            <button class="btn btn-info">Images</button>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-info">Videos</button>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-info">Tweets</button>
          </div>
        </div>
        </div>
        <!--End Share -->
        
        <!--Start View -->
        <div id="userAccount-show" class="row">
          <div class="col-xs-3 ">
             <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-3">
            <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-3">
            <i class="fa fa-video-camera fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-3">
             <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </div>

        </div>
        <!--End View -->
      </div>
      <div id="user-content-wrapper" class="col-md-6">
        Images/videos/tweets
      </div>
      <div id="user-feed-wrapper" class="col-md-3">
        adds
      </div>
    </div>
  </div>