<div id="userHomeContent">
  <div id="userHome-heading">
    <div id="userHome-user-profile">
      <img id="userHome-user-image" src="../../assets/images/elon.jpg" width="100px" height="100px;" />
    </div>
    <div id="userHome-user-info">
      <p id="userHome-user-name">Elon Musk</p>
      <p id="userHome-user-name">@IAmElon</p>
    </div>
  </div>
  <div id="userHome-activity-info" class="row">
    <div class="col-xs-4">
      <p>Images</p>
      <p>15</p>
    </div>
    <div class="col-xs-4">
      <p>Videos</p>
      <p>3</p>
    </div>
    <div class="col-xs-4">
      <p>Tweets</p>
      <p>75</p>
    </div>
  </div>

  <div id="userHome-friends-wrapper">
    <h3>Friends</h3>
    <div id="userHome-friends-box">
        <div class="userHome-friends">
          <img src="../../assets/images/elon.jpg" width="60px" height="60px;"/>
          Elon
        </div>
        <div class="userHome-friends">
          <img src="../../assets/images/elon.jpg" width="60px" height="60px;"/>
          Elon
        </div>
        <div class="userHome-friends">
          <img src="../../assets/images/elon.jpg" width="60px" height="60px;"/>
          Elon
        </div>
        <div class="userHome-friends">
          <img src="../../assets/images/elon.jpg" width="60px" height="60px;"/>
          Elon
        </div>
    </div>
  </div>

</div>